{{ define "main" }}
  <main aria-role="main">
    <header class="homepage-header">
      <h1>{{ .Title }}</h1>
      {{ with .Params.subtitle }}
      <span class="subtitle"><h3>{{ . }}</h3></span>
      {{ end }}
    </header>
    <div class="homepage-content">
      {{ .Content }}
    </div>
    <div>
        <ul>
            {{ range sort .Site.RegularPages "Params.date" "desc"}}
                <li>
                  <a href="{{ .Permalink }}"> {{ .Title }}</a>   ({{ .Params.author }}, {{.Params.date.Format "2006-01-02"}})
                </li>
            {{ end }}
        </ul>
    </div>
  </main>
{{ end }}